html, body{
    margin:0; padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1C3556;
  }
  
  h2{
    font-size: 40px;
  }
  
  h3{
    font-size: 30px;
  }

  h5{
    font-size: 20px;
    color: #0b1522
  }

  .line{
    content:"";
    display: inline-block;
    position: absolute;
    height: 0.5em;
    vertical-align: bottom;
    margin-top: -1%;
    width: 15vw;
    border-top: 1px solid #0b1522
  }
  
  p{
    font-size: 20px;
  }
  
  ul{
    font-size: 20px;
    font-weight: 400;
  }

  /*
TOP BAR
*/

/*MENU*/
.topBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #menuLinks li{
    margin: 10px;
  }
  
  #menuLinks a{
    color: #1C3556;
    font-weight: 500;
    font-size: 15px;
  }
  
  #menuLinks a:hover{
    color: #477B9D;
    font-weight: 500;
    text-decoration-line: underline;  
  }
  
  #active a{
      color: #477B9D;
      font-weight: 500;
      text-decoration-line: underline;
    }
  
  #active a:hover{
    color: #1C3556;
    font-weight: 500;
    text-decoration-line: none;
  }
  
  .lenguage li{
    display: inline;
    float: right;
    margin-right: 10%;
  }
  
  .lenguage li a{
    color: #1C3556;
  }
  
  .lenguage li a:hover{
    color: #E63947;
    text-decoration: none;
  }
  
  .ActiveLink{
    color: #E63947;
    text-decoration: none;
  }
  
  /*END TOP BAR*/
  
  /**HAMBURGUER MENU**/
  
  .left-search{
    margin-left: -10%;
    margin-right: 2%;
  }
  
  .hamburguer{
    margin-left: -10%;
    margin-right: 2%;
  }
  
  /** END HAMBURGUER MENU**/

  /*TITLE PAGE IMAGE BACKGROUND HOME*/

.heroImg{
    padding-top: 6%;
  }
  
  .backImg{
    background-image: url('../img/heroImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    padding: 12%; 
    color: #fff;
  }
  
  .backImg h1{
    font-weight: bolder;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 6px #0b1522;
  }
  
  .backImg p{
    line-height: 25px;
  }
  
 /*END TITLE PAGE IMAGE BACKGROUND HOME*/

 /** TITLE PAGE IMAGE BACKGROUND CATEGORIES **/

 .backImg-small{
  background-image: url('../img/heroImage-small.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top; 
  padding: 8%; 
  color: #fff;
}

.backImg-small h1{
  font-weight: bolder;
  letter-spacing: 2px;
  color: #1C3556;
}

/** END TITLE PAGE IMAGE BACKGROUND CATEGORIES **/

 /*SEARCH BUTTON BAR*/
.subtitle {
    position: relative;
    z-index: 1;
    margin-top: -2%;
    background-color: aliceblue;
  }
  
  .subtitle-link{
    color: #477B9D;
  }

/*END SEARCH BUTTON BAR*/

/*--------------------------------------------------------------
# BUSINESS SECTION GALLERY
--------------------------------------------------------------*/

.section {
    margin-top: -7%;
    padding: 7rem 0;
  }
  
  /** FILTERS - CATEGORIES ITEMS SECTION MENU **/
  
  .filters a {
    color: #477B9D;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
  }
  
  .filters a:hover, .filters a:focus, .filters a:active {
    text-decoration: none;
  }
  
  .filters a:hover{
    color: #1C3556;
  }
  .filters a:hover:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
    background-color: #1C3556;
  }
  
  .filters a.active {
    color: #1C3556;
  }
  
  .filters a.active:hover {
    color: #477B9D;
  }
  
  .filters a.active:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
    background-color: #1C3556;
  }
  
  .filters a.active:hover:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
    background-color: #477B9D;
  }
  
  /** END OF FILTERS - CATEGORIES ITEMS SECTION MENU **/
  
  /** BUSINESS ITEM SECTION 1 BY 1 // INFO ON HOVER **/
  
  .item {
    border: none;
    margin-bottom: 30px;
  }
  
  .item .item-wrap {
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .item .item-wrap:after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 53, 86, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
  }
  
  .item .item-wrap img {
    transition: .3s transform ease;
    transform: scale(1);
  }
  
  .item .item-wrap > .work-info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s all ease;
  }
  
  .item .item-wrap > .work-info h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .item .item-wrap > .work-info span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  
  .item .item-wrap:hover {
    text-decoration: none;
  }
  
  .item .item-wrap:hover img {
    transform: scale(1.05);
  }
  
  .item .item-wrap:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }
  
  /** END OF BUSINESS ITEM SECTION 1 BY 1 // INFO ON HOVER **/

  /** BUSINESS CATEGORIES STYLES **/

  .searchList a{
    color: #477B9D;
    font-size: 20px;
  }

  .searchList a:hover{
    color: #14253c;
  }


  /**CALL TO ACTION SECTION**/

.callActionSection{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    padding: 15%; 
    color: #1C3556;
  }
  
  .callActionSection h1{
    margin-bottom: -1%;
    color: #1C3556;
    font-weight: bolder;
    font-size: 50px;
  }
  
  .buttonList{
    background-color: #1C3556;
    padding: 1% 20%;
    color: #F2F7ED !important; 
    border-radius: 8px;
  }
  
  .buttonList a{
    margin-top: 4%;
  }
  
  .buttonList:hover{
    background-color: #477B9D;
    text-decoration: none;
  }
  
  /** END CALL TO ACTION SECTION**/

  /*HOME INFO SECTION*/
  .imgRight{
    margin-top: 10%;
    padding: 2%;
    color: #1C3556;
  }

  .imgRight h2{
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 4%;
  }

  .imgRight p{
    font-size: 18px;
    margin-bottom: 10%;
  }

  .imgRight a{
    background-color: #1C3556;
    padding: 3%;
    /*float: right;*/
    color: #F2F7ED !important; 
    border-radius: 8px;
  }

  .imgRight a:hover{
    background-color: #477B9D;
    text-decoration: none;

  }
  
  .bg-image {
    background-image: url('../img/verticalImg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  /*END OF HOME INFO SECTION*/

   /*BACK TO TOP*/
   .back-to-top {
    position: fixed;
    bottom: 35px;
    right: 20px;
    display: none;
    z-index: 10;
    background-color: #477B9D;
  } 
  /*END BACK TO TOP*/

  /*FOOTER*/

  .footer{
    margin-top: 4%;
    padding: 3% 0 1% 0;
    background-color: #1C3556;
    color: #F2F7ED;
  }

  .footer h2{
    color: #A9D9DB;
  }

  .footer a{
    color: #F2F7ED;
  }

  .footer a:hover{
    color: #A9D9DB;
    text-decoration: none;
  }

  .copyRight p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
  }

  .endColor{
    background: #14253c;
    color: #e8ebee;
  }

 .fabLakeSide{
  background-image: url('../img/logo_white.png');
  background-size: cover;
  display: inline-block;
  position: relative;
  width: 161px;
  height: 65px;
 }

 .fabLakeSide:hover{
  background-image: url('../img/logo_hover.png');
  background-size: cover;
 }

  .FaceIcon{
    background-image: url('../img/icons/FB-white.png');
  }

  .FaceIcon:hover,
  .FaceIcon:focus{
    background-image: url('../img/icons/FB-hover.png');
  }

  .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  /**END FOOTER**/